@model List<FastkartAPI.DataBase.Models.CartModel>;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <title>Checkout - Fastkart</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Checkout section Start -->
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                                   trigger="loop-on-hover"
                                                   colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                                   class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Delivery Address</h4>
                                            <button class="btn btn-sm btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#add-address">
                                                Add New Address
                                            </button>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="row g-4" id="addressContainer">
                                                <div class="col-12 text-center">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Loading addresses...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="right-side-summery-box">
                        <div class="summery-box-2">
                            <div class="summery-header">
                                <h3>Order Summary</h3>
                            </div>

                            <ul class="summery-contain" id="cartItemsContainer">
                                @foreach (var data in Model)
                                {
                                    <li data-item-id="@data.ItemId">
                                        <img src="@data.Item.Picture" 
                                             class="img-fluid blur-up lazyloaded checkout-image" 
                                             alt="@data.Item.Name">
                                        <h4>
                                            @data.Item.Name 
                                            <span>
                                                X <span class="item-qty">@data.Qty</span>
                                                <button class="btn btn-sm btn-outline-secondary update-qty" 
                                                        data-id="@data.ItemId">
                                                    Update
                                                </button>
                                                <input type="number" class="form-control form-control-sm qty-input d-none" 
                                                       value="@data.Qty" min="1" style="width: 60px;">
                                            </span>
                                        </h4>
                                        <h4 class="price">
                                            $<span class="item-price">@((data.Item.Price * data.Qty).ToString("0.00"))</span>
                                        </h4>
                                        <button class="btn btn-sm btn-outline-danger remove-item" 
                                                data-id="@data.ItemId">
                                            Remove
                                        </button>
                                    </li>
                                }
                            </ul>

                            <ul class="summery-total">
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">$<span id="subtotal">@Model.Sum(i => i.Item.Price * i.Qty).ToString("0.00")</span></h4>
                                </li>

                                <li>
                                    <h4>Delivery</h4>
                                    <h4 class="price">$<span id="deliveryFee">0.00</span></h4>
                                </li>

                                <li>
                                    <h4>Tax (10%)</h4>
                                    <h4 class="price">$<span id="tax">@(Model.Sum(i => i.Item.Price * i.Qty * 0.1m).ToString("0.00"))</span></h4>
                                </li>

                                <li class="list-total">
                                    <h4>Total (USD)</h4>
                                    <h4 class="price">$<span id="total">@(Model.Sum(i => i.Item.Price * i.Qty * 1.1m).ToString("0.00"))</span></h4>
                                </li>
                            </ul>
                        </div>
                        <button class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold" id="placeOrderBtn">
                            Place Order
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section End -->

    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1">
        <!-- ... (existing location modal content) ... -->
    </div>
    <!-- Location Modal End -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Lord-icon Js -->
    <script src="../assets/js/lusqsztk.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Delivery Option js -->
    <script src="../assets/js/delivery-option.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- theme setting js -->
    <script src="../assets/js/theme-setting.js"></script>
</body>
</html>