@model IEnumerable<FastkartAPI.Contracts.DTOs.ProductCardDTO>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="../assets/images/favicon/6.png" type="image/x-icon">
    <title>On-demand last-mile delivery</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body class="theme-color-4 bg-gradient-color">

    <!-- Loader Start -->
    @* <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> *@
    <!-- Loader End -->
    <!-- Header Start -->
    <!-- Header End -->
    <!-- mobile fix menu start -->
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="index.html">
                    <i class="iconly-Home icli"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <i class="iconly-Category icli js-link"></i>
                    <span>Category</span>
                </a>
            </li>

            <li>
                <a href="search.html" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="wishlist.html" class="notifi-wishlist">
                    <i class="iconly-Heart icli"></i>
                    <span>My Wish</span>
                </a>
            </li>

            <li>
                <a href="cart.html">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>Cart</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- mobile fix menu end -->
    <!-- Product Section Start -->
    <section class="product-section pt-0">
        <div class="container-fluid p-0">
            <div class="custom-row">

                @await Html.PartialAsync("_Menu")

                <div class="title d-block">
                    <h2 class="text-theme font-sm" id="categoryTitle">All Products</h2>
                    <p id="categoryDescription">All available products</p>
                </div>


                <div id="searchErrorContainer" class="d-none alert alert-danger"></div>

                <div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space" id="productsContainer">
                    @foreach (var product in Model)
                    {
                        <div>
                            <div class="product-box product-white-bg wow fadeIn" id="@product.Id">
                                <div class="product-image">
                                    <a href="/items/product/@product.Id">
                                        <img src="@product.Picture"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a>
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="/buy/compare">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="/buy/wishlist" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail position-relative">
                                    <a href="/items/product/@product.Id">
                                        <h6 class="name">
                                            @product.Name
                                        </h6>
                                    </a>

                                    <h6 class="sold weight text-content fw-normal">@product.Weight @product.unitsEnums</h6>

                                    <h6 class="price theme-color">$ @product.Price</h6>

                                    <div class="add-to-cart-btn-2 addtocart_btn">
                                        <button class="btn addcart-button btn buy-button d-block">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <div class="cart_qty qty-box-2 qty-box-3 d-none">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input"
                                                       type="text" name="quantity" value="0" readonly>
                                                <button type="button" class="qty-right-plus" data-type="plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <partial name="_ProductListPartial" model="Model" />
                </div>

                @* <!-- Контейнер для сообщений об ошибках -->
                    <div id="searchErrorContainer" class="d-none alert alert-danger"></div>

                    <div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space" id="productsContainer">
                    
                    </div> *@
            </div>
        </div>
    </section>

    <!-- Product Section End -->
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Tap to top and theme setting button start -->
    <!-- Tap to top and theme setting button end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- Вставьте этот скрипт в конец вашего файла, перед закрывающим тегом </body> -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Находим элементы поиска
            const searchButton = document.querySelector('.bg-theme');
            const searchInput = document.querySelector('.search-box .form-control');
            const productsContainer = document.querySelector('.custom-row');

            // Обработчики событий
            searchButton.addEventListener('click', performSearch);
            searchInput.addEventListener('keypress', function(e) {
                if (e.key === 'Enter') performSearch();
            });

            // Функция выполнения поиска
                    async function performSearch() {
            const searchTerm = searchInput.value.trim();
            if (!searchTerm) return;

            try {
                // Показываем индикатор загрузки
                const originalIcon = searchButton.innerHTML;
                searchButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';

                // Отправляем запрос на сервер
                const response = await fetch(`/Home/search?term=${encodeURIComponent(searchTerm)}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                // Получаем HTML-ответ
                const htmlContent = await response.text();

                // Обновляем контейнер с товарами
                document.getElementById('productsContainer').innerHTML = htmlContent;

                // Инициализируем необходимые компоненты
                feather.replace();
                new WOW().init();

            } catch (error) {
                console.error('Ошибка поиска:', error);
                // Показываем сообщение об ошибке
                document.getElementById('productsContainer').innerHTML = `
                    <div class="col-12 text-center py-5">
                        <h4 class="text-danger">Ошибка при выполнении поиска</h4>
                        <p>${error.message}</p>
                    </div>
                `;
            } finally {
                // Восстанавливаем иконку
                searchButton.innerHTML = originalIcon;
            }
        }

            // Функция обновления списка товаров
            function updateProductsList(products) {
                // Очищаем текущие товары
                productsContainer.innerHTML = `
                    <div class="title d-block">
                        <h2 class="text-theme font-sm">Результаты поиска</h2>
                        <p>Найдено товаров: ${products.length}</p>
                    </div>
                    <div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space" id="searchResultsContainer">
                        <!-- Товары будут добавлены сюда -->
                    </div>
                `;

                const container = document.getElementById('searchResultsContainer');

                if (products.length === 0) {
                    container.innerHTML = `
                        <div class="col-12 text-center py-5">
                            <h4>Товары не найдены</h4>
                            <p>Попробуйте изменить поисковый запрос</p>
                        </div>
                    `;
                    return;
                }

                // Добавляем найденные товары
                products.forEach(product => {
                    const productCard = `
                        <div>
                            <div class="product-box product-white-bg wow fadeIn" id="${product.id}">
                                <div class="product-image">
                                    <a href="/items/product/${product.id}">
                                        <img src="${product.picture}" class="img-fluid blur-up lazyload" alt="${product.name}">
                                    </a>
                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a>
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail position-relative">
                                    <a href="product-left-thumbnail.html">
                                        <h6 class="name">${product.name}</h6>
                                    </a>
                                    <h6 class="sold weight text-content fw-normal">${product.weight} ${product.unitsEnums}</h6>
                                    <h6 class="price theme-color">$ ${product.price}</h6>
                                    <div class="add-to-cart-btn-2 addtocart_btn">
                                        <button class="btn addcart-button btn buy-button">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <div class="cart_qty qty-box-2 qty-box-3">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text" name="quantity" value="0">
                                                <button type="button" class="qty-right-plus" data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;

                    container.innerHTML += productCard;
                });

                // Инициализируем иконки Feather
                feather.replace();
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // ... существующий код поиска ...

            // Обработка кликов по категориям
            document.querySelectorAll('.category-link').forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    const category = this.getAttribute('data-category');
                    loadProductsByCategory(category);
                });
            });

            // Функция для загрузки продуктов по категории
            function loadProductsByCategory(category) {
                // Показать индикатор загрузки
                const productsContainer = document.getElementById('productsContainer');
                productsContainer.innerHTML = '<div class="col-12 text-center py-5"><i class="fa fa-spinner fa-spin fa-3x"></i></div>';

                // Отправить AJAX запрос
                $.ajax({
                    url: '/Home/GetByCategory',
                    type: 'GET',
                    data: { category: category },
                    success: function(data) {
                        // Обновить контейнер с продуктами
                        $('#productsContainer').html(data);

                        // Инициализировать необходимые компоненты
                        feather.replace();
                        new WOW().init();

                        // Обновить заголовок раздела
                        $('.title h2').text($('.category-link[data-category="' + category + '"]').text());
                        $('.title p').text('Products filtered by category');
                    },
                    error: function() {
                        productsContainer.innerHTML = '<div class="col-12 text-center py-5"><h4 class="text-danger">Error loading products</h4><p>Please try again later</p></div>';
                    }
                });
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Загрузка всех продуктов при открытии главной страницы
            const productsContainer = document.getElementById('productsContainer');
            if (productsContainer) {
                // Проверяем, есть ли уже продукты (серверный рендеринг)
                if (productsContainer.children.length === 0) {
                    loadAllProducts();
                }
            }

            function loadAllProducts() {
                const productsContainer = document.getElementById('productsContainer');
            productsContainer.innerHTML = '<div class="col-12 text-center py-5"><i class="fa fa-spinner fa-spin fa-3x"></i></div>';

            $.ajax({
                url: '/Home/GetAllProducts',
                type: 'GET',
                success: function(data) {
                    productsContainer.innerHTML = data;
                    feather.replace();
                    new WOW().init();

                    // Обновить заголовок
                    document.getElementById('categoryTitle').innerText = 'All Products';
                    document.getElementById('categoryDescription').innerText = 'All available products';
                },
                error: function() {
                    productsContainer.innerHTML = '<div class="col-12 text-center py-5"><h4 class="text-danger">Error loading products</h4><p>Please try again later</p></div>';
                }
            });
            }

            // Если есть параметр категории в URL
            const urlParams = new URLSearchParams(window.location.search);
            const categories = urlParams.get('categories');
            const categoryName = urlParams.get('categoryName');

            if (categories) {
                loadProductsByCategory(categories, categoryName || 'Selected Category');
            }
        });
    </script>

    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>

    <!-- Auto Height Js -->
    <script src="~/assets/js/auto-height.js"></script>

    <!-- Fly Cart Js -->
    <script src="~/assets/js/fly-cart.js"></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>
    <script src="~/assets/js/cartUpdate.js"></script>
</body>

</html>